.hero-image {
  margin: auto;
  margin-top: 2rem;
  width: 40rem;
  height: 22rem;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 3%;
}

.hero-heading,
.hero-paragraph {
  color: var(--main-color);
}

.hero-heading {
  font-size: clamp(1rem, 9.7vw, 2.8rem);
}

.hero-paragraph {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.start-shopping-button {
  color: var(--main-color);
  background-color: white;
  margin: 1rem 0 1rem 0;
  width: 9rem;
  height: 3rem;
  border: 2px solid var(--main-color);
}

.start-shopping-button:hover {
  color: white;
  background-color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
}

.hero-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .hero-section {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .hero-section-left {
    width: 90%;
    margin: auto;
    align-items: center;
  }

  .hero-paragraph {
    padding: 1rem;
  }

  .hero-image {
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .hero-section {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .hero-section-left {
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    align-items: center;
  }


  .hero-paragraph {
    padding: 1rem;
  }

  .hero-image {
    padding: 1.5rem;
  }
}